extends layout

block content
  h1= title
  -
  - var result = results
  div.container-fluid
     div.row
        each item,index in result
            div.col-sm-2(onclick=`buy(${index})`) Football_Name: #{item["football_name"]}  <br>  Football_size: #{item["football_size"]} <br> Football_type: #{item["football_type"]} 
  script.
      function buy(index)
      {
         alert("you purchased item "+(index+1))
      }