extends layout 
 
block content 
  h1= title 
 
  if (toShow == null) 
    h2 No instance to delete 
  else 
    - let footballid = toShow._id 
    - let football_name = toShow.football_name 
    - let football_type = toShow.football_type 
    - let football_size = toShow.football_size
    - let actionid = "/resource/footballs/" + footballid 
    script let actionid = "#{actionid}" 
    div 
      div.row 
        div(class='footballAttr mr-3') football ID is: 
        div #{footballid} 
      div.row 
        div(class='footballAttr mr-3') football Type is: 
        div #{football_name} 
      div.row 
        div(class='footballAttr mr-3') football Size is: 
        div #{football_type} 
      div.row 
        div(class='footballAttr mr-3') football Cost is: 
        div #{football_size} 
 
    button(class="btn btn-danger m-2" onclick="deleteOnid()") Delete 
    button(class="btn btn-secondary m-2" onclick="cancel()") Cancel 
 
  script. 
    function cancel() { 
      // Go back to the home page for the football collection 
      window.location.href='/footballs' 
    } 
  script. 
    function deleteOnid() { 
      console.log("starting delete") 
      // delete first 
      fetch(actionid, { 
        method: 'DELETE'       
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Delete succeded") 
        window.location.href='/footballs' 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Delete failed " + error ) 
      }); 
    } 